<body>
    <div class="waviy">
      <span style="--i:1">N</span>
      <span style="--i:2">I</span>
      <span style="--i:3">M</span>
      <span style="--i:4">I</span>
      <span style="--i:5">S</span>
      <span style="--i:6">H</span>
      <span style="--i:7">A</span>
      <span style="--i:8">W</span>
      <span style="--i:9">I</span>
      <span style="--i:10">L</span>
      <span style="--i:11">S</span>
      <span style="--i:12">O</span>
      <span style="--i:13">N</span>
     </div>
   </body>