// background, card, hover color, primary text, secondary text
//  #15202B, #192734, #22303C, #FFFFFF, #8899A6

.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #15202b;
  .nav-item {
    margin-top: 8px;
    color: #8899a6;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(236, 123, 217);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-item:hover:after {
    color: #ffffff;
    width: 100%;
    left: 0;
  }
}
