<div class="hvr-sweep-to-right card">
    <h3>Access Line Integrated Intake System</h3>
    ○ A system for recording the cases from clients and assign available attorneys to them.
    ○ Integrated calendar component library that can display events on a month, week or day view.
    ○ Created reusable custom components and implement custom validations
    <div class="badge-container">
        <span class="badge"> Angular 13 </span>
        <span class="badge"> PrimeFlex </span>
        <span class="badge"> PrimeNG </span>
        <span class="badge"> PrimeNG </span>
        <span class="badge"> PrimeNG </span>
    </div>
</div>