/* You can add global styles to this file, and also import other style files */
$primary: black;
$secondary: white;

body {
    background-color: $secondary;
    margin: 0;
}

.w-50 {
    width: 50%;
}