/* You can add global styles to this file, and also import other style files */
//https://coolors.co/88ccf1-c1dff0-3587a4-2d848a-2d898b
$primary: black;
$secondary: white;

body {
    background-color: $secondary;
    margin: 0;
}

.w-50 {
    width: 50%;
}