/* You can add global styles to this file, and also import other style files */
//https://coolors.co/88ccf1-c1dff0-3587a4-2d848a-2d898b
$primary: #3587a4;
$secondary: #C1DFF0;

body {
    background-color: $secondary;
}
