$primary: black;
$secondary: white;

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, $secondary);
  font-size: 60px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: $primary;
  text-transform: uppercase;
  animation: waviy 3s;
  animation-delay: calc(0.3s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
