<app-initial-loading *ngIf="showInitialLoading"> </app-initial-loading>
<div class="container" *ngIf="!showInitialLoading">
    <div class="card">
        <div class="gray">
            <h1> Hello! </h1>
            <p>
                I am an Angular developer with several years of experience in building robust and scalable web
                applications.
                I have a strong understanding of the Angular framework, including the latest version of Angular as well
                as
                previous
                versions.

                I am proficient in developing complex front-end features, implementing state management using tools such
                as
                NgRx,
                and integrating with back-end services through RESTful APIs.

                In addition to my technical skills, I am also experienced in working in Agile development environments
                and
                collaborating with cross-functional teams to deliver high-quality software on time.

                I am passionate about keeping up-to-date with the latest web development trends and technologies, and I
                strive to
                continuously improve my skills to deliver the best possible solutions for my clients or employer.
            </p>
        </div>
        <div class="nav-section">
            <app-nav> </app-nav>
        </div>
    </div>
</div>
