$primary: #15202b;
$secondary: white;

// background, card, hover color, primary text, secondary text
//  #15202B, #192734, #22303C, #FFFFFF, #8899A6

.container {
  display: flex;
  .card {
    background-color: $primary;
    height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    display: flex;
    .nav-section {
      width: 50%;
    }
    .gray {
      max-width: 50%;
      background-color: #192734;
      padding: 0.5rem;
      p {
        font-size: 1.3rem;
        line-height: 2;
        color: #8899a6;
      }
      h1 {
        color: #ffffff;
      }
    }
  }
}
